.select {
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  width: 150px;
  background-color: #444;
  color: #ddd;
  font-size: 1em;
  border: none;
  border-radius: 2px;
  outline: none;
}

@media (max-width: 736px) {
  .select {
    width: auto;
  }
}
